<div class="container-listado-cursos">
  <div class="swiper-button-next next-{{idUnico}}" ></div>
  <div class="swiper-button-prev prev-{{idUnico}}" ></div>
  <swiper-container 
  [attr.navigation-next-el]="'.next-' + idUnico"
  [attr.navigation-prev-el]="'.prev-' + idUnico"
  [spaceBetween]="30" 
  [slidesPerView]="4" 
  class="mySwiper">
    <ng-container *ngFor="let curso of cursos">
      <swiper-slide class="swiper-slide">
        <div class="card h-100 ">
          <img 
          [src]="curso.miniatura" 
          (error)="onImageError($event)"
          class="card-img-top"
          alt="imagen del curso">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ curso.titulo }}</h5>
            <p class="card-text text-muted">{{ curso.descrip }}</p>
            <p class="card-text">Precio: <strong>${{ curso.precio }}</strong></p>
            <button class="btn btn-primary btn-sm w-100 mt-auto" (click)="matricular(curso)">Matricularse</button>
          </div>
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>